{% extends 'base.html.twig' %}

    {% block body %}

        <!-- Main navigation -->
        <header>
          <!-- Full Page Intro -->
         
            <!-- Mask & flexbox options-->
            <div class="mask rgba-gradient align-items-center">
              <!-- Content -->
              <div class="container">
                <!--Grid row-->
                <div class="row">
                  <!--Grid column-->
                  <div style="margin-left: 50%;" class="col-md-6 white-text text-center text-md-left mt-xl-5 mb-5 wow fadeInLeft" data-wow-delay="0.3s">
                    <hr class="hr-light">
                    <h5 class="mb-4" style="color:white;">Accédez à votre espace resérvé!</h5>
                    <a href="{{ path('admin') }}" style="color:rgb(100, 212, 231);" class="btn btn-white"><b>Espace administration</b></a>
                    <a href="{{ path('etudiant') }}" style="color:rgb(100, 212, 231);" class="btn btn-white"><b>Espace étudiant</b></a>
                  </div>
                  <!--Grid column-->
                  <!--Grid column-->
                  <div class="col-md-6 col-xl-5 mt-xl-5 wow fadeInRight" data-wow-delay="0.3s">
                  </div>
                  <!--Grid column-->
                </div>
                <!--Grid row-->
              </div>
              <!-- Content -->
            </div>
            <!-- Mask & flexbox options-->
          
          <!-- Full Page Intro -->
        </header>
        <!-- Main navigation -->
        <!--Main Layout-->
        

   {% endblock %}
