<form method="post" action="{{ path('suggestions_delete', {'id': suggestion.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cette suggestion ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ suggestion.id) }}">
    <button class="btn">Supprimer</button>
</form>
