{% extends 'base1.html.twig' %}

{% block title %}Suggérer une formation{% endblock %}

{% block body %}
 {% include('navbarVertical2.html.twig') %} 
    <h1>Suggérer une formation</h1>

    {{ include('suggestions/_form.html.twig') }}

{% endblock %}
