{% extends 'base1.html.twig' %}

{% block title %}Suggérer une formation{% endblock %}

{% block body %}

    <h1>Suggérer une formation</h1>

    {{ include('suggestions/_form.html.twig') }}

{% endblock %}
