{% extends 'base1.html.twig' %}

{% block title %}Modifier les informations du formateur{% endblock %}

{% block body %}
{% include('navbarVertical.html.twig') %} 
    <h1>Modifier les informations du formateur</h1>

    {{ include('formateurs/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('formateurs_index') }}"><button class="btn">Retour à la liste des formateurs</button></a>

    {{ include('formateurs/_delete_form.html.twig') }}
{% endblock %}
