{% extends 'base.html.twig' %}
{% block title %}about{% endblock %}
{% block body %}
    <div class="col-10 offset-1">
        <div class="card bg-light">
            <div class="card-body">
             <br>
  <br>
 

 
                <p><h5 class="text-center">Fondée en 2015 au Maroc, GoFormations est un leader dans le domaine  de digitalisation de l'apprentissage.</h5></p>

                <p><h5 class="text-center">GoFormations intervient sur tous les thèmes en lien avec le e-learning. Ses dispositifs de formation en ligne, innovants et ses formateurs experts et compétents, ont fait la preuve de leur efficacité chez les étudiants.<p><h5>

                <p><h5 class="text-center">Grâce au e-learning la formation dans plusieurs domaines est devenue plus accessible et plus flexible. En outre, GoFormations, en tant que prestataire, a su développer un ensemble de services permettant d’optimiser l’expérience des collaborateurs et d'augmenter leur engagement.<p><h5>
                             <br>
  <br>
            </div>
        </div>
    </div>
 {% endblock %}