{% extends 'base1.html.twig' %}

{% block title %}étudiant{% endblock %}
 {% block body %}
  {% include('navbarVertical2.html.twig') %}
   <br>
  <br>
  <br> 
  <br>
  <br>
  <br>   
<h1 align="center"> Espace étudiant </h1>
 {% endblock %}