<div class="nav flex-row nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
  <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="{{ path('suggestions_new') }}" role="tab" aria-controls="v-pills-profile" aria-selected="false">Suggerer une formation</a>
  <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="{{path('messages_new2')}}" role="tab" aria-controls="v-pills-messages" aria-selected="false">Envoyer un message</a>
    <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="{{ path('formations_index2') }}" role="tab" aria-controls="v-pills-settings" aria-selected="false">Calendrier des formations</a>
  <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="{{ path('home') }}" role="tab" aria-controls="v-pills-settings" aria-selected="false">Logout</a>
</div>