{% extends 'base1.html.twig' %}

{% block title %}Ecrire un message{% endblock %}

{% block body %} 
 {% include('navbarVertical2.html.twig') %}  
    <h3 class="text-center">Veuillez envoyer votre message et nous allons vous répondre le plus tôt possible!</h3>

    {{ include('messages/_form.html.twig') }}
{% endblock %}
